.vscode

etc/hits
etc/generated
/addons/data/*
/addons/data/currencyCache.json

cdn/metadata.cache.json
cdn/ls
cdn/file
cdn/deprecated
cdn/archive
cdn/flags
cdn/temp
cdn/tw
cdn/beta
cdn/lib/*
!cdn/lib/example

/archive
version/v1.js
version/v1.js.save
version/v1.old.js

addons/*
!addons/cdn.js

model.nlp
config

core/native/build