[submodule "core/parser"]
	path = core/parser
	url = https://github.com/the-lstv/Atrium
	branch = wip
[submodule "core/ipc"]
	path = core/ipc
	url = https://github.com/the-lstv/advanced-node-ipc
	branch = main
