.vscode

etc/hits
etc/generated

archive
config

api/*
!api/v1.example.js

addons/*
!addons/.gitkeep

db/*
!db/cache/.gitkeep
!db/data/.gitkeep

core/native/build

node_modules
package.json
package-lock.json

core/native/build
core/native/node
core/native/test*

.env